# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Env
.env

# React build
frontend/build/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# OneDrive
*.lnk
*.ost
*.pst

